
UDP/NetworkFramework/x64/Debug/NetworkFramework.tlog/unsuccessfulbuild
UDP/NetworkFramework/x64/Debug/NetworkFramework.tlog/NetworkFramework.lastbuildstate
UDP/NetworkFramework/x64/Debug/NetworkFramework.tlog/CL.command.1.tlog
UDP/NetworkFramework/x64/Debug/NetworkFramework.log
UDP/.vs/UDP/v17/.suo
UDP/.vs/UDP/v17/Browse.VC.db
UDP/.vs/UDP/v17/Browse.VC.db-shm
UDP/.vs/UDP/v17/Browse.VC.db-wal
UDP/.vs/UDP/v17/Browse.VC.opendb
UDP/.vs/UDP/v17/ipch/AutoPCH/1db4dbae34bff163/MAIN.ipch
UDP/.vs/UDP/v17/ipch/AutoPCH/21fe04257fa780ad/NETWORKFRAMEWORK.ipch
UDP/.vs/UDP/v17/ipch/AutoPCH/39eb369c63f9a0ef/MAIN.ipch
UDP/.vs/UDP/v17/ipch/AutoPCH/9374d581dd6537b6/MAIN.ipch
UDP/.vs/UDP/v17/Solution.VC.db
UDP/.vs/UDP/v17/Solution.VC.db-shm
UDP/.vs/UDP/v17/Solution.VC.db-wal
UDP/NetworkFramework/NetworkFramework.vcxproj
UDP/NetworkFramework/NetworkFramework.vcxproj.filters
UDP/NetworkFramework/NetworkFramework.vcxproj.user
UDP/NetworkFramework/x64/Debug/vc143.idb
UDP/NetworkFramework/x64/Debug/vc143.pdb
UDP/UDP.sln
UDP/UDP_CLIENT/Debug/UDP_CLIENT.Build.CppClean.log
UDP/UDP_CLIENT/Debug/UDP_CLIENT.log
UDP/UDP_CLIENT/Debug/UDP_CLIENT.vcxproj.FileListAbsolute.txt
UDP/UDP_CLIENT/UDP_CLIENT.vcxproj
UDP/UDP_CLIENT/x64/Debug/main.obj
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.Build.CppClean.log
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.exe.recipe
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.ilk
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.log
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/CL.command.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/CL.read.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/CL.write.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link.command.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link.read.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link.write.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/UDP_CLIENT.lastbuildstate
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.vcxproj.FileListAbsolute.txt
UDP/UDP_CLIENT/x64/Debug/vc143.idb
UDP/UDP_CLIENT/x64/Debug/vc143.pdb
UDP/UDP_SERVER/Debug/UDP_SERVER.Build.CppClean.log
UDP/UDP_SERVER/Debug/UDP_SERVER.log
UDP/UDP_SERVER/Debug/UDP_SERVER.vcxproj.FileListAbsolute.txt
UDP/UDP_SERVER/UDP_SERVER.vcxproj
UDP/UDP_SERVER/x64/Debug/main.obj
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.Build.CppClean.log
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.exe.recipe
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.ilk
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.log
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/CL.command.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/CL.read.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/CL.write.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/link.command.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/link.read.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/link.write.1.tlog
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.tlog/UDP_SERVER.lastbuildstate
UDP/UDP_SERVER/x64/Debug/UDP_SERVER.vcxproj.FileListAbsolute.txt
UDP/UDP_SERVER/x64/Debug/vc143.idb
UDP/UDP_SERVER/x64/Debug/vc143.pdb
UDP/x64/Debug/UDP_CLIENT.exe
UDP/x64/Debug/UDP_CLIENT.pdb
UDP/x64/Debug/UDP_SERVER.exe
UDP/x64/Debug/UDP_SERVER.pdb
UDP/UDP.sln
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link-cvtres.read.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link-cvtres.write.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link-rc.read.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link-rc.write.1.tlog
UDP/UDP_CLIENT/x64/Debug/UDP_CLIENT.tlog/link.read.2.tlog
UDP/.vs/UDP/v17/ipch/AutoPCH/22999a58330e0547/NETWORKFRAMEWORK.ipch
UDP/.vs/UDP/v17/ipch/AutoPCH/abd5c49d9005624c/BACKUP.ipch
UDP/.vs/UDP/v17/ipch/AutoPCH/f42d4e5f5424fea8/BACKUP.ipch
UDP/UDP_SERVER/x64/Debug/NetworkFramework.obj
UDP/UDP_SERVER/x64/Debug/backup.obj
UDP/UDP_CLIENT/x64/Debug/backup.obj
